<!DOCTYPE HTML>
{% load static %}
<html>
 <head>
 <link rel="stylesheet" href="../static/Css/logcss.css" type="text/css"/>
  <meta charset="utf-8">
  <title>Регистрация</title>
 </head>
 <body>
    <div id="range1">

        <div class="outer">
          <div class="middle">
            <div class="inner">
        
                <div class="login-wr">
                  <h2>Вход</h2>
                  
                  <div class="form">
                    <input type="text" placeholder="Логин">
                    <input type="password" placeholder="Пароль">
                    <button onclick="document.location='stieacc.html'"> Авторизация как склад </button>
                    <button onclick="document.location='sitePostavshik/stieaccpostavshik.html'"> Авторизация как поставщик </button>
                    <button onclick="document.location='siteshop/stieaccshop.html'"> Авторизация как магазин</button>
                    <a href= "resetpass.html"> <p> Забыли пароль? </p></a>
                    <a href="registration.html"> <p> У вас нет аккаунта? Регистрация </p></a>
                  </div>
                </div>
        
            </div>
          </div>
        </div>
        
        </div>
 
 </body>
</html>