<!DOCTYPE HTML>
<html>
 <head>
 <link rel="stylesheet" href="css/regcss.css" type="text/css"/>
  <meta charset="utf-8">
  <title>Регистрация</title>
 </head>
 <body>
    <div id="range1">

        <div class="outer">
          <div class="middle">
            <div class="inner">
        
                <div class="login-wr">
                  <h2>Регистрация</h2>
                  
                  <div class="form">
                     
                    <input type="text"  placeholder="Фамилия" >
                    <input type="text" placeholder="Имя"  >
                    <input type="text" placeholder="Отчество" >
                    <input type="text" placeholder="Логин">
                    <input type="text" placeholder="Телефон">
                    <input type="password" placeholder="Пароль">
                    <input type="password" placeholder="Повторите пароль">
                    <button onclick="document.location='who.html'"> Зарегистрироваться </button>
                    <button onclick="document.location='login.html'"> Уже есть аккаунт </button>

          
                  </div>
                </div>
        
            </div>
          </div>
        </div>
        
        </div>
 
 </body>
</html>