<!DOCTYPE HTML>
<html>
 <head>
 <link rel="stylesheet" href="css/repass.css" type="text/css"/>
  <meta charset="utf-8">
  <title>Регистрация</title>
 </head>
 <body>
    <div id="range1">

        <div class="outer">
          <div class="middle">
            <div class="inner">
        
                <div class="login-wr">
                  <h2>Сброс пароля</h2>
                  
                  <div class="form">
                    <input type="text" placeholder="Логин">
                    <input type="password" placeholder="Новый пароль">
                    <input type="password" placeholder="Повторите новый пароль">
                    <button onclick="document.location='login.html'"> Изменить </button>
                    <button onclick="document.location='login.html'"> Назад</button>
                   
                  </div>
                </div>
        
            </div>
          </div>
        </div>
        
        </div>
 
 </body>
</html>