<!DOCTYPE HTML>
<html>
 <head>
 <link rel="stylesheet" href="css/siteorders.css" type="text/css"/>
  <meta charset="utf-8">
  
  <title>Регистрация</title>
 </head> 
 <body>
    <div class="topnav" id="myTopnav">
        <a href="siteorder.html" class="active">Заказы</a>
        <a href="stieacc.html">Главная страница</a>
  
        <a href="siteannons.html">Объявления</a>
        <a href="productssite.html">Продукты</a>
        <div class="dropdown">
          <button class="dropbtn">Мой аккаунт
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Личный кабинет</a>
            <a href="#">Настройки</a>
            <a href="login.html">Выйти</a>
            
          </div>
        </div>
       
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
      </div>
      <script src="JS/script.js"></script>

      
      <table class="delivery">
        <thead>
        <tr>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Название товара</th>
        <th>Количество</th>
        

        </tr>
        </thead>
        <tbody>
        <tr>
        <td >Пример</td>
        <td>Пример</td>
        <td >Пример</td>
        <td >Пример</td>
        <td>Пример</td>
      
        </tr>
        <tr>
          <td >Пример</td>
          <td>Пример</td>
          <td >Пример</td>
          <td >Пример</td>
          <td>Пример</td>
        </tr>
        <tr>
          <td >Пример</td>
          <td>Пример</td>
          <td >Пример</td>
          <td >Пример</td>
          <td>Пример</td>
        </tr>
        <tr>
          <td >Пример</td>
          <td>Пример</td>
          <td >Пример</td>
          <td >Пример</td>
          <td>Пример</td>
        </tr>
        <tr>
          <td >Пример</td>
          <td>Пример</td>
          <td >Пример</td>
          <td >Пример</td>
          <td>Пример</td>
        </tr>
        <tr>
          <td >Пример</td>
          <td>Пример</td>
          <td >Пример</td>
          <td >Пример</td>
          <td>Пример</td>
        </tr>
        <tr>
          <td >Пример</td>
          <td>Пример</td>
          <td >Пример</td>
          <td >Пример</td>
          <td>Пример</td>
        </tr>
        <tr>
          <td >Пример</td>
          <td>Пример</td>
          <td >Пример</td>
          <td >Пример</td>
          <td>Пример</td>
        </tr>
        <tr>
          <td >Пример</td>
          <td>Пример</td>
          <td >Пример</td>
          <td >Пример</td>
          <td>Пример</td>
        </tr>
        <tr>
          <td >Пример</td>
          <td>Пример</td>
          <td >Пример</td>
          <td >Пример</td>
          <td>Пример</td>
        </tr>
        <tr>
          <td >Пример</td>
          <td>Пример</td>
          <td >Пример</td>
          <td >Пример</td>
          <td>Пример</td>
        </tr>
        </tbody>
        </table>
        

        <button class="button1" onclick="document.location='#'">Принять заказ</button>

        <button class="button1" onclick="document.location='#'">Удалить заказ</button>

    </body>
</html>