<!DOCTYPE HTML>
<html>
 <head>
 <link rel="stylesheet" href="css/siteacccss.css" type="text/css"/>
  <meta charset="utf-8">
  
  <title>Регистрация</title>
 </head> 
 <body>
    <div class="topnav" id="myTopnav">
        <a href="stieacc.html" class="active">Главная страница</a>
    
        <a href="siteorder.html">Заказы</a>
        <a href="siteannons.html">Объявления</a>
        <a href="productssite.html">Продукты</a>
        <div class="dropdown">
          <button class="dropbtn">Мой аккаунт
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Личный кабинет</a>
            <a href="#">Настройки</a>
            <a href="login.html">Выйти</a>
            
          </div>
        </div>
       
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
      </div>
      <script src="JS/script.js"></script>

    </body>
    <div id="range1">

      <div class="outer">
        <div class="middle">
          <div class="inner">
      
              <div class="login-wr">
              <p> Здраствуйте, вы вошли в свой аккаунт как менджер склада.</p>             
                <div class="form">
                
                </div>
              </div>
      
          </div>
        </div>
      </div>
      
      </div>

</html>