<!DOCTYPE HTML>
<html>
 <head>
 <link rel="stylesheet" href="css/whocss.css" type="text/css"/>
  <meta charset="utf-8">
  <title>Регистрация</title>
 </head>
 <body>
    <div id="range1">

        <div class="outer">
          <div class="middle">
            <div class="inner">
        
                <div class="login-wr">
                  <h2>Зарестироваться как</h2>
                  <div class="form">
                  <button onclick="document.location='login.html'"> Поставщик </button>
                  <button onclick="document.location='login.html'"> Магазин </button>
                  </div>
                </div>
        
            </div>
          </div>
        </div>
        
        </div>
 
 </body>
</html>